/* stylelint-disable */
.columns {
  margin-bottom: 60px;
  padding-top: 2px;

  @include media(">=tablet") {
    margin-bottom: 80px;
  }

  @include media(">=desktop") {
    margin-bottom: 39px;
  }

  .container-big {
    position: relative;

    @include media(">=desktop") {
      display: grid;
      grid-template-columns: 1fr 279px;
      justify-items: end;
      column-gap: 43px;
    }
  }

  &__content {
    @include media(">=desktop") {
      max-width: 659px;
    }
  }
}