/* stylelint-disable */
.sidebar {
  &__inner {
    @include media(">=tablet") {
      padding-top: 5px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 50px;
    }

    @include media(">=desktop") {
      display: block;
      position: sticky;
      top: 0;
    }
  }
}
